{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/typeahead/typeahead.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block content %}
    <div class="page-content-wrapper persianumber">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>امورمالی</span>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                    <span>خدمات</span>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                    <span>افزودن</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                    <span id="tm-date-and-time"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                        <div class="input-icon" id="patient_input">
                            <input type="text" id="patient_name" class="form-control" placeholder="نام بیمار را وارد کنید.">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 padding-tb-20">
                            <input type="hidden" name="id_patient" id="id_patient">
                            <div class="col-md-4  form-group form-md-line-input has-success">
                                <label id="f_name">نام بیمار:</label>
                            </div>
                            <div class="col-md-4 form-group form-md-line-input has-success">
                                <label id="l_name">نام خانوادگی:</label>
                            </div>
                            <div class="col-md-4 form-group form-md-line-input has-success">
                                <label id="national_code">شماره ملی:</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group form-md-line-input has-success">
                        <select class="form-control beh-set-height-dropdown" id="ward_select"
                                onchange="load_sub_ward()">
                            <option value="none">انتخاب کنید</option>
                            {% for ward in wards %}
                                {% if ward.sub_ward|length != 0 %}
                                    <option value="{{ ward|mongo_id }}">{{ ward.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                        <select class="form-control beh-set-height-dropdown" id="sub_ward_select"
                                onchange="load_sub_price_ward(event)">
                            <option value="none">انتخاب کنید</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 padding-tb-20">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success">
                                    <label id="price_medicine_label">قیمت(ریال):</label>
                                </div>
                            </div>
                            <div class="col-md-6 margin-top-15">
                                <div class="form-group">
                                    <label class="col-md-3" style="margin-top: 4px">تعداد:</label>
                                    <div class="col-md-9">
                                        <input id="count_sub_ward" type="text" class="form-control"
                                               placeholder="تعداد" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 margin-top-15">
                                <div class="form-group">
                                    <button type="button" class="btn green-meadow" onclick="add_sub_ward()">
                                        <i class="fa fa-plus" style="margin-left: 4px"></i>
                                        افزودن
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-th-list"></i>
                            <span class="caption-subject bold uppercase">فاکتور خدمات</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered" width="100%">
                            <thead>
                            <tr>
                                <th class="min-tablet col-md-1">ردیف</th>
                                <th class="all">بخش</th>
                                <th class="all">خدمت</th>
                                <th class="desktop">تعداد</th>
                                <th class="desktop">مالیات ارزش افزوده</th>
                                <th class="all">پاک کردن</th>
                                <th class="all">قیمت(ریال)</th>
                            </tr>
                            </thead>
                            <tbody id="all_medicine">
                            <tr>
                                <td colspan="6"></td>
                                <td>
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td>جمع هزینه ها</td>
                                            <td id="sum-price" style="color: red;">0</td>
                                        </tr>
                                        <tr>
                                            <td> مالیات ارزش افزوده</td>
                                            <td id="sum-price-vta" style="color: red;">0</td>
                                        </tr>
                                        <tr>
                                            <td> مبلغ کل</td>
                                            <td id="total-amount" style="color: red;">0</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2 pull-right">
                                <div class="form-group">
                                    <input id="received_price" class="form-control spinner" type="text" placeholder="مبلغ دریافتی">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 pull-right">
                                <button type="button" class="btn green form-control" onclick="add_finance()">
                                    <i class="fa fa-plus"></i>
                                    افزودن فاکتور
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block some_js %}
    <script src="{% static 'js/typeahead-patient.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/add_finance_visit.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/typeahead/handlebars.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/typeahead/typeahead.bundle.min.js' %}" type="text/javascript"></script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#finance_item");
        display_block_sub_menu("#finance_visit");
        $('.persianumber').persiaNumber();

    </script>
{% endblock %}
