{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/typeahead/typeahead.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>امورمالی</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>دارو</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>افزودن</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-title col-md-3">
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon" id="patient_input">
                                <input type="text" id="patient_name" class="form-control" placeholder="نام بیمار را وارد کنید.">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-title col-md-8" style="margin-top: 18px; color: #27a4b0">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="id_patient" id="id_patient">
                                <div id="f_name" class="col-md-4  form-group form-md-line-input has-success">
                                    نام بیمار:
                                </div>
                                <div id="l_name" class="col-md-4 form-group form-md-line-input has-success">
                                    نام خانوادگی:
                                </div>
                                <div id="national_code" class="col-md-4 form-group form-md-line-input has-success">
                                    شماره ملی:
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-title col-md-3">
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon" id="medicine_input">
                                <i class="fa fa-medkit"></i>
                                <input type="text" id="name_medicine" name="name_medicine" class="form-control" placeholder="نام دارو را وارد کنید">
                            </div>
                        </div>
                    </div>
                    <div class="portlet-title col-md-8" style="margin-top: 18px; color: #27a4b0">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="en_name_medicine_label" class="col-md-4  form-group form-md-line-input has-success">
                                    نام دارو:
                                </div>
                                <div id="price_medicine_label" class="col-md-4 form-group form-md-line-input has-success">
                                    قیمت(ریال):
                                </div>
                                <div id="count_medicine_label" class="col-md-4 form-group form-md-line-input has-success">
                                    موجودی:
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2%">
                    <div class="col-md-2 pull-right">
                        <button type="button" class="btn green-meadow form-control" onclick="add_medicine()">
                            <i class="fa fa-plus" style="margin-left: 4px"></i>
                            افزودن دارو
                        </button>
                    </div>
                    <div class="col-md-2 pull-right">
                        <input type="hidden" id="id_medicine">
                        <input id="count_medicine" class="number form-control spinner" type="text" placeholder="تعداد">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="caption-subject bold uppercase">داروها</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="min-tablet col-md-1">ردیف</th>
                                        <th class="all">نام</th>
                                        <th class="desktop">تعداد</th>
                                        <th class="all">پاک کردن</th>
                                        <th class="all">قیمت(ریال)</th>
                                    </tr>
                                    </thead>
                                    <tbody id="all_medicine">
                                    <tr>
                                        <td colspan="4">
                                            <input value="0" type="hidden" id="sum_price_val">
                                        </td>
                                        <td>
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <td>جمع هزینه ها</td>
                                                    <td id="sum-price" style="color: red;">0</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-2 pull-right">
                                        <div class="form-group">
                                            <input id="received_price" class="form-control spinner" type="text" placeholder="مبلغ دریافتی">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 pull-right">
                                        <button type="button" class="btn green form-control" onclick="add_finance()">
                                            <i class="fa fa-plus"></i>
                                            افزودن فاکتور
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script src="{% static 'js/typeahead-medicine.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/typeahead-patient.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/add_finance_medicine.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/typeahead/handlebars.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/typeahead/typeahead.bundle.min.js' %}" type="text/javascript"></script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#finance_item");
        display_block_sub_menu("#finance_medicine");
        $('.persianumber').persiaNumber();

    </script>
{% endblock %}
