{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'layouts/layout/css/custom-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>امور مالی</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>دارو</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>نمودارها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="margin-top: 30px">
                    <!-- BEGIN CHART PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                        </div>
                        <div class="portlet-body">
                        </div>
                    </div>
                    <!-- END CHART PORTLET-->
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script src="{% static 'js/chart_medicine.js' %}" type="text/javascript"></script>

    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#finance_item");
        display_block_sub_menu("#finance_medicine");
    </script>
{% endblock %}
