{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>امورمالی</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>داروها</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>فاکتورها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="caption-subject bold uppercase">فاکتورها</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive" width="100%" id="table_finance">
                                <thead>
                                <tr>
                                    <th class="min-tablet">ردیف</th>
                                    <th class="desktop">شماره</th>
                                    <th class="min-tablet">مشخصات دارو</th>
                                    <th class="all">بیمار</th>
                                    <th class="desktop">متصدی</th>
                                    <th class="min-tablet">قیمت(ریال)</th>
                                    <th class="all">دریافتی</th>
                                    <th class="desktop">تاریخ</th>
                                    <th class="all">عملیات</th>
                                </tr>
                                </thead>
                                <tbody id="all_finance">
                                {% for item in finances %}
                                    <tr id="{{ item|mongo_id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.code }}</td>
                                        <td>
                                            <a onclick='set_medicine_to_modal("{{ item|mongo_id }}")' class="btn btn-circle btn-icon-only btn-default btn purple-plum" data-toggle="modal" href="#medicine_modal">
                                                <i class="fa fa-file"></i>
                                            </a>
                                        </td>
                                        <td>{{ item.patient.name }}</td>
                                        <td>{{ item.seller.name }}</td>
                                        <td>{{ item.sum_price|commas_int }}</td>
                                        <td>{{ item.received_price|commas_int }}</td>
                                        <td class="direction-ltr">{{ item.created_date|persian_date }}</td>
                                        <td>
                                            <a onclick="delete_finance('{{ item|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                <i class="icon-trash"></i>
                                            </a>
                                            <a href="/finance/print/finance/medicine/{{ item|mongo_id }}" class="btn btn-circle btn-icon-only btn-default btn blue" target="_blank">
                                                <i class="icon-printer"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="medicine_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="col-md-11">
                            <h4 id="title_modal" class="modal-title">داروها</h4>
                        </div>
                        <div class="col-md-1">
                            <a class="pull-right" data-dismiss="modal" aria-hidden="true">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-tablet col-md-1">ردیف</th>
                                                    <th class="all">نام</th>
                                                    <th class="desktop">تعداد</th>
                                                    <th class="all">قیمت(ریال)</th>
                                                    <th class="all">مجموع</th>
                                                </tr>
                                            </thead>
                                            <tbody id="all_finance_modal">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger close_modal_footer" data-dismiss="modal" aria-hidden="true">بستن</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block some_js %}
    <script src="{% static 'js/table-finance-medicine.js' %}" type="text/javascript"></script>

    <script>
        $('.persianumber').persiaNumber();

        active_menu_item("#finance_item");
        display_block_sub_menu("#finance_medicine");

        function set_count_number() {
            var count_number = 1;
            $('.count_number').each(function () {
                $(this).html(count_number);
                count_number += 1;
            });
        }

        function delete_finance(id_finance) {
            UIkit.modal.confirm("آیا می خواهید ادامه دهید؟", function () {
                var data = {
                    'id_finance': id_finance,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                var url = '/finance/delete/finance/medicine/';

                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    url: url,
                    data: data,
                    success: function (resp) {
                        $('#' + id_finance).remove();
                        uikitNotify('فاکتور شما پاک شد.', '', 'success');
                    },
                    error: function (e) {
                        notify_error(e)
                    }
                });
            });
        }
        function set_medicine_to_modal(id_finance_medicine) {
            $("#all_finance_modal").html('');
            var data = {
                'id_finance_medicine': id_finance_medicine,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/finance/find/finance/medicine/',
                data: data,
                success: function (resp) {
                    $("#all_medicine").html('');
                    resp = resp['list_medicine']['list_medicine'];
                    for (var item in resp) {
                        var medicine_html =
                                '<tr class="persianumber">' +
                                '<td class="count_number"></td>' +
                                '<td>' + resp[item]['en_name'] + '</td>' +
                                '<td>' + resp[item]['count'] + '</td>' +
                                '<td>' + numberWithCommas(resp[item]['price']) + '</td>' +
                                '<td>' + numberWithCommas(parseInt(resp[item]['price']) * parseInt(resp[item]['count'])) + '</td>' +
                                '</tr>';
                        $("#all_finance_modal").append(medicine_html);
                        $('.persianumber').persiaNumber();
                    }
                    set_count_number();
                },
                error: function (e) {
                    notify_error(e)
                }
            });
        }

    </script>
{% endblock %}
