<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فاکتور شرکت خدماتی شهرک عباس آباد شماره فاکتور:{{ finance_visit.code }}</title>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body dir="rtl">
<div class="persianumber">
    {#        {% for item in  finance_visit.list_ward %}#}
    {#            <div class="col-md-12" style="margin-top: 10px">#}
    {#                <div class="col-md-4 col-sm-4" style="border: 1px solid">#}
    {#                    <div class="col-md-12" style="text-align: center">#}
    {#                        <span>شرکت خدماتی شهرک عباس آباد</span>#}
    {#                    </div>#}
    {#                    <div class="col-md-12">#}
    {#                        <div class="col-md-6 pull-left"  style="margin-top: 10px">#}
    {#                            <span>#}
    {#                                نام بیمار :#}
    {#                                {{ finance_visit.patient.name }}#}
    {#                            </span>#}
    {#                        </div>#}
    {#                        <div class="col-md-6 direction-ltr pull-right"  style="margin-top: 10px">#}
    {#                            <span>#}
    {#                                تاریخ:#}
    {#                                {{ finance_visit.created_date|persian_date }}#}
    {#                            </span>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-md-12">#}
    {#                        <table class="table table-bordered" style="margin-top: 10px;">#}
    {#                            <thead>#}
    {#                                <tr>#}
    {#                                    <th class="text-center">نام بخش</th>#}
    {#                                    <th class="text-center">نام خدمت</th>#}
    {#                                    <th class="text-center">تعداد</th>#}
    {#                                </tr>#}
    {#                            </thead>#}
    {#                            <tbody>#}
    {#                                <tr>#}
    {#                                    <td>{{ item.ward_name }}</td>#}
    {#                                    <td>{{ item.sub_ward_name }}</td>#}
    {#                                    <td>{{ item.count }}</td>#}
    {#                                </tr>#}
    {#                            </tbody>#}
    {#                        </table>#}
    {#                    </div>#}
    {#                    <div class="col-md-12">#}
    {#                        <span>نوبت شما:</span>#}
    {#                        <span style="font-size: 30px">{{ item.number }}</span>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-8 col-sm-8"></div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    <div class="col-md-12" style="margin-top: 10px">
        <div class="col-md-4 col-sm-4" style="border: 1px solid">
            <div class="col-md-12" style="text-align: center">
                <span>شرکت خدماتی شهرک عباس آباد</span>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="col-md-4 pull-left" style="margin-top: 10px">
                        <span>
                            نام بیمار :
                            {{ finance_visit.patient.name }}
                        </span>
                </div>
                <div class="col-md-4 pull-left" style="margin-top: 10px">
                        <span>
                           شماره ملی :
                            {% if finance_visit.patient.national_code == 0 or not finance_visit.patient.national_code%}
                                کاربر مهمان
                            {% else %}
                                {{ finance_visit.patient.national_code }}
                            {% endif %}
                        </span>
                </div>
                <div class="col-md-4 direction-ltr pull-right" style="margin-top: 10px">
                        <span>
                            تاریخ:
                            {{ finance_visit.created_date|persian_date }}
                        </span>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered" style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th class="text-center">ردیف</th>
                        <th class="text-center">نام بخش</th>
                        <th class="text-center">نام خدمت</th>
                        <th class="text-center">قیمت واحد</th>
                        <th class="text-center">تعداد</th>
                        <th class="text-center">ارزش افزوده</th>
                        <th class="text-center">قیمت کل</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in finance_visit.list_ward %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.ward_name }}</td>
                            <td>{{ item.sub_ward_name }}</td>
                            <td>{{ item.price|commas_int }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.vta_status|get_bool }}</td>
                            <td>{{ item.total_amount }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="text-right">جمع هزینه ها بدون مالیات:</td>
                        <td>{{ finance_visit.sum_price|commas_int }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">جمع مالیات ارزش افزورده:</td>
                        <td>{{ finance_visit.sum_vta_price|commas_int }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">جمع کل:</td>
                        <td>{{ finance_visit.total_amount }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">دریافتی:</td>
                        <td>{{ finance_visit.received_price|commas_int }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 col-sm-8"></div>
    </div>
</div>
<script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/persianumber.min.js' %}" type="text/javascript"></script>
<script>
    {#        window.print();#}
    $('.persianumber').persiaNumber();
</script>
</body>
</html>