<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فاکتور شرکت خدماتی شهرک عباس آباد شماره فاکتور:{{ finance_medicine.code }}</title>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body dir="rtl">
<div class="persianumber">
    <div class="col-md-12" style="margin-top: 10px">
        <div class="col-md-4 col-sm-4" style="border: 1px solid">
            <div class="col-md-12" style="text-align: center">
                <span>شرکت خدماتی شهرک عباس آباد</span>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="col-md-4 pull-left" style="margin-top: 10px">
                        <span>
                            نام بیمار :
                            {{ finance_medicine.patient.name }}
                        </span>
                </div>
                <div class="col-md-4 pull-left" style="margin-top: 10px">
                        <span>
                           شماره ملی :
                            {% if finance_medicine.patient.national_code == 0 or not finance_visit.patient.national_code %}
                                کاربر مهمان
                            {% else %}
                                {{ finance_medicine.patient.national_code }}
                            {% endif %}
                        </span>
                </div>
                <div class="col-md-4 direction-ltr pull-right" style="margin-top: 10px">
                        <span>
                            تاریخ:
                            {{ finance_medicine.created_date|persian_date }}
                        </span>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered" style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th class="text-center">ردیف</th>
                        <th class="text-center">نام بخش</th>
                        <th class="text-center">قیمت واحد</th>
                        <th class="text-center">تعداد</th>
                        <th class="text-center">قیمت کل</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in finance_medicine.list_medicine %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.en_name }}</td>
                            <td>{{ item.price|commas_int }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.total_amount|commas_int }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right">جمع کل:</td>
                        <td>{{ finance_medicine.sum_price|commas_int }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">دریافتی:</td>
                        <td>{{ finance_medicine.received_price|commas_int }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 col-sm-8"></div>
    </div>
</div>
<script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/persianumber.min.js' %}" type="text/javascript"></script>
<script>
    {#        window.print();#}
    $('.persianumber').persiaNumber();
</script>
</body>
</html>