{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>مدیریت کاربران</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>ایجاد گروه جدید</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h5 class="page-title">
                <i class="fa fa-group"></i>
                <span class="caption-subject uppercase">ایجاد گروه جدید</span>
            </h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <form class="form-horizontal margin-bottom-40" method="POST">
                                <div class="form-body">
                                    {% csrf_token %}
                                    <div class="form-group form-md-line-input">
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input has-success">
                                                {{ form.name }}
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-checkboxes">
                                        <label>قسمت ها</label>
                                        <div class="md-checkbox-inline row">
                                            {% for item in form.visible_templatetags %}
                                                <div class="md-checkbox col-md-3">
                                                    <input type="checkbox" id="{{ item.id_for_label }}" class="md-check" value="{{ item.choice_value }}" name="{{ item.name }}" {% if item.choice_value in item.value %}checked{% endif %}>
                                                    <label for="{{ item.id_for_label }}">
                                                        <span class="inc"></span>
                                                        <span class="my-check check"></span>
                                                        <span class="box"></span>{{ item.choice_label }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tm-panel-footer">
                                    <div class="uk-form-row uk-float-right">
                                        <button class="vir-btn-4 uk-button" type="submit"><i class="beh-117"></i>ذخیره</button>
                                        <a href="{% url "groups" %}" class="vir-btn-4 uk-button uk-margin-right" type="button"><i class="beh-117"></i>انصراف</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script>
        {% if errors %}
            {% for field, error in errors.items %}
                uikitNotify('{{ error.0 }}', '', 'danger');
            {% endfor %}
        {% endif %}
    </script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        display_block_sub_menu("#users_item");

    </script>
{% endblock %}
