{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>مدیریت کاربران</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>گروه ها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a class="btn green-haze dropdown-toggle" href="{% url  "define_group" %}"><i class="fa fa-plus"></i> افزودن گروه جدید</a>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble"></i>گروه ها
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام گروه</th>
                                <th>تنظیمات</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ group.name }}</td>
                                    <td>
                                        <a href="{% url "edit_group" group|mongo_id %}" class="btn btn-circle btn-icon-only btn-default btn yellow">
                                            <i class="icon-wrench"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a class="btn green-haze dropdown-toggle" href="{% url  "define_group" %}"><i class="fa fa-plus"></i> افزودن گروه جدید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        display_block_sub_menu("#users_item");

    </script>
{% endblock %}
