{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت سایت</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>مدیریت بیماران</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <div class="col-md-12">
                    <form class="form-horizontal" id="add_patient" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_patient">

                        <div class="portlet box green">
                            <div class="portlet-title ">
                                <div class="caption">
                                    <i class="fa fa-user-plus"></i>
                                    <span class="caption-subject uppercase">افزودن بیمار</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">نام</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder=""
                                                           name="f_name" id="f_name">
                                                    <div class="form-control-focus"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">نام خانوادگی</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="" name="l_name" id="l_name">
                                                    <div class="form-control-focus"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">شماره ملی</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder=""
                                                           name="national_code" id="national_code" value="0">
                                                    <div class="form-control-focus"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2">
                                            <button style="float: left !important;" id="submit_modal" type="submit" class="btn green"><i
                                                    class="fa fa-plus"></i>
                                                افزودن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-users"></i>
                                <span class="caption-subject uppercase">بیماران</span>
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar" style="margin-bottom: 0 !important;">
                            </div>
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive" width="100%" id="patients">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام و نام خانوادگی</th>
                                    <th>شماره ملی</th>
                                    <th> حذف/ویرایش</th>
                                </tr>
                                </thead>
                                <tbody id="all_patients">
                                {% for patient in patients %}
                                    <tr id="{{ patient|mongo_id }}">
                                        <td class="count_number">{{ forloop.counter }}</td>
                                        <td>{{ patient.full_name }}</td>
                                        <td>{{ patient.national_code }}</td>
                                        <td class="center">
                                            <a onclick="delete_patient('{{ patient|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                <i class="icon-trash"></i>
                                            </a>
                                            <a onclick='edit_patient("{{ patient|mongo_id }}")' class="btn btn-circle btn-icon-only btn-default btn yellow" data-toggle="modal" href="#add_patient_modal">
                                                <i class="icon-wrench"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script src="{% static 'js/patient.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/table-patient.js' %}" type="text/javascript"></script>

    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        $('.persianumber').persiaNumber();
    </script>
{% endblock %}
