/* Distributed as part of The Coolest DHTML Calendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #e5e5e5;
  font-size: 11px;
  color: #666;
  cursor: default;
  background:#fff;
  font-family: Mirza, tahoma;
  border-radius: 5px;
}

.calendar {
  border-color: #e5e5e5;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background: #fff; color: #666;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}

.calendar .nav {
  font-family: Mirza, tahoma;
}

.calendar thead tr { background: #fff; color: #666; }

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: #fff; color: #666;
  border-bottom: 1px solid #e5e5e5;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #e5e5e5;
  padding: 2px;
  text-align: center;
  color: #666;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #FF5453;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background: #fff;
  padding: 2px 2px 1px 2px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 3px 1px 0 3px;
  border-bottom: 1px solid #e5e5e5;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #ddd;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  font-family: Mirza, tahoma;
  width: 2em;
  color: #666;
  text-align: right;
  padding: 2px 4px 2px 2px;
  border: 1px solid #ddd;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #999;
}
.calendar tbody .day.othermonth.oweekend {
  color: #FF5453;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  background: #f5f6fb;
}

.calendar tbody .rowhilite td,
.calendar tbody .rowhilite td.wn {
  background: #f5f6fb;
}

.calendar tbody td.today { font-weight: bold; /* background: url("../img/jalalidate/today-bg.gif") no-repeat 70% 50%; */ }

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #eee;
  padding: 1px 3px 1px 1px;
  border: 1px solid #e5e5e5;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #FF5453;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid #e5e5e5;
  padding: 1px 3px 1px 1px;
  background: #eee; color: #666;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #fff;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
  background: #fff; color: #666;
  border-top: 1px solid #e5e5e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  border: 1px solid #e5e5e5;
  color: #666;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
  padding: 2px 0 0 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 4em;
  cursor: default;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  z-index: 100;
  font-size: 90%;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #fff;
}

.calendar .combo .active {
  background:#fff;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #e5e5e5;
  padding: 1px 0;
  text-align: center;
  background: #fff;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 5px 0px 6px;
  font-weight: bold;
  background:#fff;
}

.calendar td.time .hour,
.calendar td.time .minute {
  font-family: Mirza, tahoma;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  background: #fff;
}

.calendar td.time span.active {
  background: #fff;
}
