
body {
    font-family: "yekan", serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li {
    font-family: "yekan", serif !important;
}

.text-aline {
    text-align: center;
    color: white;
}

.direction-ltr {
    direction: ltr;
}

.beh-set-height-dropdown {
    height: 50px;
    margin-top: -16px;
}

.md-checkbox label > .my-check {
    top: -4px;
    left: 6px;
    width: 10px;
    height: 20px;
    border: 2px solid #36c6d3;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 5;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;
}

#calendar_id > .calendar > table {
    width: 100%;
    height: 400px;
}

#calendar_id > .calendar tbody td, .footrow, .calendar thead td {
    font-size: 15px;
    font-family: "yekan", serif !important;

}

#id_nurse, #id_driver {
    list-style: none;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i {
    color: #606C7D;
    vertical-align: sub;
    margin-left: 7px;
}

.btn.green>i,.btn.green:not(.btn-outline)>i,.btn.green-haze:not(.btn-outline)> i {
    margin-left: 5px;
    vertical-align: -10%;
}

.page-title > i {
    margin-left: 5px;
}

.form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-horizontal .form-group.form-md-line-input {
    padding: 0 !important;
}

.beh-vertical-divider {
    border-left: 1px solid #e2e2e2;
    height: 300px;
}

.btn.sbold.red > i{
    margin-left: 5px;
}

#vat_status {
    vertical-align: sub;
    margin-left: 5px;
}

.md-checkbox label { padding-right: 15px !important;}

input[type=radio] {
    vertical-align: sub;
}
.table td {
    font-size: 12px;
}
.modal-title{ color: #32c5d2 }
.modal-title > i{
    margin-left: 7px;
    vertical-align: sub;
}




@font-face {
    font-family: "yekan";
    src: url(../font/Yekan.eot);
    src: url(../font/Yekan.eot?#iefix) format("embedded-opentype"), url(../font/Yekan.woff) format("woff"), url(../font/Yekan.ttf) format("truetype"), url(../font/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}