<!DOCTYPE html>
{% load static %}
<html lang="en" dir="rtl">
<head>
    <title>مدیریت بهداری</title>
    <meta charset="utf-8"/>
    <link href="{% static 'global/plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'global/css/components-rtl.min.css' %}" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'pages/css/error-rtl.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body class=" page-404-3">
<div class="page-inner">
    <img src="{% static 'pages/media/pages/earth-rtl.jpg' %}" class="img-responsive" alt="">
</div>
<div class="container error-404">
    <h1>403</h1>
    <h2>شما دسترسی به این قسمت را ندارید</h2>
    <p></p>
    <p>
        <a href="{% url "home" %}" class="btn red btn-outline">برگشت به خانه</a>
        <br>
    </p>
</div>
<script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>

</body>
</html>
