<!DOCTYPE html>
{% load static %}
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->

<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8"/>
    <title>مدیریت بهداری</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>
    <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/css/components-rtl.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'layouts/layout/css/layout-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'layouts/layout/css/themes/darkblue-rtl.min.css' %}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/components.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/framework.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.almost-flat.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.gradient.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    {% block page_css %}
    {% endblock %}
</head>
{% block body %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header navbar navbar-fixed-top persianumber">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="http://www.negahcc.ir" target="_blank">
                    <img src="{% static 'pages/img/logo.png' %}" style="margin-top: -4px;height: 50px" alt="logo"
                         class="logo-default"/>
                </a>
                <div class="menu-toggler sidebar-toggler"></div>
            </div>
            <a class="menu-toggler responsive-toggler" data-toggle="collapse"
               data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span class="username username-hide-on-mobile pull-right">{{ request.user.userBox.full_name }} خوش آمدید</span>
                            <img alt="" class="img-circle pull-left"
                                 src="{% static 'layouts/layout/img/avatar3_small.jpg' %}"/>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href='{% url 'logout' %}'>
                                    <i class="icon-key"></i>
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                    data-slide-speed="200" style="padding-top: 20px">
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler"></div>
                    </li>
                    <li class="nav-item" id="home_item">
                        <a class="nav-link nav-toggle" href="{% url "home" %}">
                            <i class="icon-home"></i>
                            <span class="title">خانه</span>
                        </a>
                    </li>
                    {% if request.user|has_perm_by_list:'users_management,patient_management,ward_management,nurse_driver_management' %}
                        <li id="management_site_item" class="nav-item">
                            <a class="nav-link nav-toggle">
                                <i class="icon-folder"></i>
                                <span class="title">مدیریت سایت</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                {% if request.user|has_perm:'users_management' %}
                                    <li class="nav-item">
                                        <a class="nav-link nav-toggle">
                                            <i class="fa fa-users"></i>کاربران
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu" id="users_item">
                                            <li class="nav-item">
                                                <a href="{% url "users" %}" class="nav-link">
                                                    <i class="icon-users"></i>همه کاربران
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url "groups" %}" class="nav-link">
                                                    <i class="icon-social-dribbble"></i>گروه ها
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if request.user|has_perm:'nurse_driver_management' %}
                                    <li class="nav-item">
                                        <a class="nav-link nav-toggle">
                                            <i class="fa fa-ambulance"></i>بهیار ها و راننده ها
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu" id="nurse_item">
                                            <li class="nav-item">
                                                <a href="{% url "nurses_drivers" %}" class="nav-link">
                                                    <i class="fa fa-plus"></i>افزودن
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url "nurse_and_driver_calendar" %}" class="nav-link">
                                                    <i class="fa fa-calendar-plus-o"></i>شیفت ها
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if request.user|has_perm:'patient_management' %}

                                    <li class="nav-item">
                                        <a href="{% url "patients" %}" class="nav-link ">
                                            <i class="fa fa-male"></i>
                                            <span class="title">بیماران</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if request.user|has_perm:'ward_management' %}
                                    <li class="nav-item">
                                        <a href="{% url "wards" %}" class="nav-link ">
                                            <i class="fa fa-sitemap"></i>
                                            <span class="title">بخش ها</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user|has_perm:'medicine_management' %}
                        <li id="medicine_item" class="nav-item">
                            <a class="nav-link nav-toggle">
                                <i class="fa fa-medkit"></i>
                                <span class="title">داروها</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{% url "medicines" %}" class="nav-link ">
                                        <i class="fa fa-plus-square"></i>
                                        <span class="title">همه داروها</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user|has_perm_by_list:'medicine_factor_management,visit_factor_management' %}
                        <li class="nav-item" id="finance_item">
                            <a class="nav-link nav-toggle">
                                <i class="icon-folder"></i>
                                <span class="title">امورمالی</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                {% if request.user|has_perm:'medicine_factor_management' %}
                                    <li class="nav-item">
                                        <a class="nav-link nav-toggle">
                                            <i class="fa fa-heartbeat"></i>دارو
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu" id="finance_medicine">
                                            <li class="nav-item">
                                                <a href="{% url "finances_medicine" %}" class="nav-link">
                                                    <i class="fa fa-file-excel-o"></i>همه فاکتورها
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url "add_finance_medicine" %}" class="nav-link">
                                                    <i class="fa fa-plus"></i>افزون فاکتور
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if request.user|has_perm:'visit_factor_management' %}
                                    <li class="nav-item">
                                        <a class="nav-link nav-toggle">
                                            <i class="fa fa-database"></i>خدمات
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu" id="finance_visit">
                                            <li class="nav-item">
                                                <a href="{% url "finances_visit" %}" class="nav-link">
                                                    <i class="fa fa-file-excel-o"></i>همه فاکتورها
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url "add_finance_visit" %}" class="nav-link">
                                                    <i class="fa fa-plus"></i>افزودن فاکتور
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user|has_perm:'reporting_management' %}
                        <li id="reporting_item" class="nav-item">
                            <a class="nav-link nav-toggle">
                                <i class="fa fa-medkit"></i>
                                <span class="title">گزارش ها</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{% url "date_reporting" %}" class="nav-link ">
                                        <i class="fa fa-plus-square"></i>
                                        <span class="title">گزارش گیری</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>

    <div class="page-footer text-aline">
        <a href="http://www.negahcc.ir" target="_blank" style="color: white">
            ساخته شده توسط گروه نرم افزاری سازه های اطلاعاتی هوشمند نگاه
        </a>
    </div>
    <script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/uikit.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>

    <script src="{% static 'global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-validation/js/additional-methods.min.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/persian-date-0.1.8.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
    {% block chart_js %}
            <script src="{% static 'js/persianumber.min.js' %}" type="text/javascript"></script>
    {% endblock %}
    {% block some_js %}
    {% endblock %}
    </body>
{% endblock body %}
</html>

