{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>خانه</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>به سامانه مدیریت بهداری عباس آباد خوش آمدید</h1>
                    <a href="http://www.negahcc.ir/" target="_blank">
                        <h6>ساخته شده توسط گروه نرم افزاری سازه های اطلاعاتی هوشمند نگاه</h6>
                        <img src="{% static "img/header-img.png" %}">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script>
        csrf_token = '{{ csrf_token }}';
    </script>
{% endblock %}
