<!DOCTYPE html>
{% load static %}
<html lang="en" dir="rtl">
    <head>
        <title>مدیریت بهداری</title>
        <meta charset="utf-8" />
        <link href="{% static 'global/plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet" >
        <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/css/components-rtl.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'pages/css/login-5-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body class=" login">
        <div class="user-login-5">
            <div class="row bs-reset">
                <div class="col-md-6 login-container bs-reset">
                    <img class="login-logo login-6" src="{% static 'pages/img/login/login-invert.jpg' %}" />
                    <div class="login-content">
                        <h1>مدیریت بهداری</h1>
                        <p>سامانه مدیریت اطلاعات بیماران مرکز سلامت شهرک صنعتی عباس آباد</p>
                        {% if message %}
                            <div style="color: red;">
                                <span>نام کاربری یا رمز شما اشتباه است</span>
                            </div>
                        {% endif %}
                        <form action="{% url 'login' %}" class="login-form" method="post">
                            {% csrf_token %}
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>لطفا نام کاربری و رمز عبور را وارد کنید.</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="نام کاربری" name="user_name" required/> </div>
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="رمز عبور" name="password" required/> </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-8 text-right">
                                    <button class="btn blue" type="submit">ورود</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="login-footer">
                        <div class="row bs-reset">
                            <div class="col-xs-7 bs-reset">
                                <div class="login-copyright text-right">
                                    <p>طراحی شده توسط گروه نرم افزاری سازه های اطلاعاتی هوشمند نگاه</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 bs-reset">
                    <div class="login-bg"> </div>
                </div>
            </div>
        </div>
        <script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-validation/js/additional-methods.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/backstretch/jquery.backstretch.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/login-5.min.js' %}" type="text/javascript"></script>
</body>
</html>
