{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>داروها</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>همه داروها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="fa fa-medkit"></i>
                                <span class="caption-subject bold uppercase">داروها</span>
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                            </div>
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a onclick="clear_modal_medicine()" class="btn sbold green" data-toggle="modal" href="#add_medicine_modal"><i class="fa fa-plus"></i>
                                            افزودن دارو
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive" width="100%" id="medicine">
                                <thead>
                                <tr>
                                    <th class="all">ردیف</th>
                                    <th class="desktop"> نام فارسی</th>
                                    <th class="desktop"> نام انگلیسی</th>
                                    <th class="min-tablet"> تاریخ تولید</th>
                                    <th class="desktop"> تاریخ انقضا</th>
                                    <th class="min-tablet"> تعداد</th>
                                    <th class="min-tablet">قیمت(ریال)</th>
                                    <th class="all"> عملیات</th>
                                </tr>
                                </thead>
                                <tbody id="all_medicine">
                                {% for medicine in medicines %}
                                    <tr id="{{ medicine|mongo_id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ medicine.fa_name }}</td>
                                        <td>{{ medicine.en_name }}</td>
                                        <td class="center">{{ medicine.dict_date.start_date|persian_date }}</td>
                                        <td class="center">{{ medicine.dict_date.end_date|persian_date }}</td>
                                        <td class="center" id="count_{{ medicine|mongo_id }}">{{ medicine.count }}</td>
                                        <td class="center">{{ medicine.price|commas_int }}</td>
                                        <td class="center">
                                            <a onclick="delete_medicine('{{ medicine|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                <i class="icon-trash"></i>
                                            </a>
                                            <a onclick='set_data_to_modal("{{ medicine|mongo_id }}", this)' class="btn btn-circle btn-icon-only btn-default btn yellow" data-toggle="modal" href="#add_medicine_modal">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a onclick='set_id_medicine("{{ medicine|mongo_id }}")' class="btn btn-circle btn-icon-only btn-default btn green" data-toggle="modal" href="#add_count_medicine_modal">
                                                <i class="icon-basket-loaded"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a onclick="clear_modal_medicine()" class="btn sbold green" data-toggle="modal" href="#add_medicine_modal"><i class="fa fa-plus"></i>
                                            افزودن دارو
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="add_medicine_modal" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <form class="form-horizontal" id="add_medicine" method="post">
            {% csrf_token %}
            <input type="hidden" name="id_medicine">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-12">
                            <div class="col-md-11">
                                <h4 id="title_modal" class="modal-title">ویرایش دارو</h4>
                            </div>
                            <div class="col-md-1">
                                <a class="pull-right" data-dismiss="modal" aria-hidden="true">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">نام فارسی</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" placeholder="" name="fa_name">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">نام فارسی را وارد کنید</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">نام انگلیسی</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" placeholder="" name="en_name">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">نام انگلیسی را وارد کنید</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input" id="count_medicine">
                                        <label class="col-md-3 control-label">تعداد</label>
                                        <div class="col-md-5">
                                            <div class="input-icon">
                                                <input type="text" class="form-control" name="count">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">تعداد را وارد کنید</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="beh-set-height-dropdown form-control" name="type_count" onchange="load_multiplex(this)">
                                                <option value="number">عدد</option>
                                                <option value="package">بسته</option>
                                            </select>
                                            <div class="form-control-focus"></div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">قیمت(ریال)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" placeholder="" name="price" id="price">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">قیمت(ریال) را به ریال وارد کنید.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_right">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">تاریخ تولید</label>
                                        <div class="col-md-3">
                                            <select class="beh-set-height-dropdown form-control" name="date_type" id="date_type" onchange="change_html_help_block()">
                                                <option value="helical">شمسی</option>
                                                <option value="gregorian">میلادی</option>
                                            </select>
                                            <div class="form-control-focus"></div>
                                        </div>
                                        <div class="col-md-6 date_medicine">
                                            <input id="start_date" type="text" class="form-control" placeholder="" name="start_date">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">تاریخ  . به عنوان مثال: 1395/06/02</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">تاریخ انقضا</label>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 date_medicine">
                                            <input type="text" id="end_date" class="form-control" placeholder="" name="end_date">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">تاریخ  . به عنوان مثال: 1395/06/02</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="submit_modal" type="submit" class="btn green">افزودن</button>
                        <button type="reset" class="btn btn-danger close_modal_footer" data-dismiss="modal" aria-hidden="true">انصراف</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="add_count_medicine_modal" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="col-md-11">
                            <h4 id="title_modal" class="modal-title">اضافه کردن تعداد دارو</h4>
                        </div>
                        <div class="col-md-1">
                            <a class="pull-right" data-dismiss="modal" aria-hidden="true">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:150px" data-always-visible="1" data-rail-visible1="1">
                        <input type="hidden" id="id_medicine_for_edit_count">
                        <div class="row" id="modal_dive">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">تعداد</label>
                                <div class="col-md-5">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" id="count_medicine_input">
                                        <div class="form-control-focus"></div>
                                        <span class="help-block">تعداد را وارد کنید</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="beh-set-height-dropdown form-control" id="type_count_medicine_input" onchange="load_multiplex(this, 'count_modal')">
                                        <option value="number">عدد</option>
                                        <option value="package">بسته</option>
                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="add_count_medicine()" class="btn green">افزودن</button>
                    <button type="reset" class="btn btn-danger close_modal_footer" data-dismiss="modal" aria-hidden="true">انصراف</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script src="{% static 'js/table-medicine.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/medicine.js' %}" type="text/javascript"></script>
    <script>

        csrf_token = '{{ csrf_token }}';
        active_menu_item("#medicine_item");
        $('.persianumber').persiaNumber();

    </script>
{% endblock %}
