{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت سایت</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>مدیریت کاربران</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-6">

                    <div class="btn-group">
                        <a id="button_user_modal" class="btn sbold green" data-toggle="modal" href="#add_user_modal"><i class="fa fa-user-plus"></i>
                            افزودن کاربر

                        </a>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble"></i>گروه ها
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام و نام خانوادگی</th>
                                <th>نوع کاربر</th>
                                <th> حذف/ویرایش</th>
                            </tr>
                            </thead>
                            <tbody id="all_users">
                            {% for user in users %}
                                <tr id="{{ user|mongo_id }}">
                                    <td class="count_number">{{ forloop.counter }}</td>
                                    <td>{{ user.full_name }}</td>
                                    <td>{{ user.user_type }}</td>
                                    <td class="center">
                                        <a onclick="delete_user('{{ user|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                            <i class="icon-trash"></i>
                                        </a>
                                        <a onclick='set_data_user_to_modal("{{ user|mongo_id }}")' class="btn btn-circle btn-icon-only btn-default btn yellow" data-toggle="modal" href="#add_user_modal">
                                            <i class="icon-wrench"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-6">

                    <div class="btn-group">
                        <a id="button_user_modal" class="btn sbold green" data-toggle="modal" href="#add_user_modal"><i class="fa fa-user-plus"></i>
                            افزودن کاربر

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_user_modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <form class="form-horizontal" id="add_user" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_user" id="id_user">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="title_modal" class="modal-title">افزودن کاربر</h4>
                        </div>
                        <div class="modal-body">
                            <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">نام</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="" name="f_name">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">نام</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">رمز عبور</label>
                                            <div class="col-md-8 date_medicine">
                                                <input type="password" id="password" class="form-control" placeholder="" name="password">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">لطفا رمز عبور قوی انتخاب کنید</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">نام کاربری</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="" name="user_name">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">نام کاربری</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">نام خانوادگی</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="" name="l_name">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">نام خانوادگی</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">تکرار رمز عبور</label>
                                            <div class="col-md-8 date_medicine">
                                                <input type="password" id="rep_password" class="form-control" placeholder="" name="rep_password">
                                                <div class="form-control-focus"></div>
                                                <span class="help-block">تکرار رمز عبور</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-4 control-label" for="form_control_1">نوع کاربر</label>
                                            <div class="col-md-8">
                                                <select class="beh-set-height-dropdown form-control" name="user_type" id="user_type">
                                                    {% for group in groups %}
                                                        <option value="{{ group|mongo_id }}">{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="form-control-focus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="submit_modal" type="submit" class="btn green">افزودن</button>
                            <button type="reset" class="btn btn-danger close_modal_footer" data-dismiss="modal" aria-hidden="true">انصراف</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script src="{% static 'js/users.js' %}" type="text/javascript"></script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        display_block_sub_menu("#users_item");
        $('.persianumber').persiaNumber();

    </script>
{% endblock %}
