{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت بخش ها</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>بخش ها</span>
                    </li>
                </ul>
            </div>
            <h1 class="page-title"></h1>
            <div class="portlet box blue ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-grid"></i>افزودن بخش جدید
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_tab1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="form_control_1">نام بخش :</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="" name="ward_name"
                                                   id="ward_name">
                                            <div class="form-control-focus"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a id="button_ward_submit" class="btn sbold green" onclick="append_ward()"><i class="fa fa-plus"></i>
                                            افزودن
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a id="button_ward_cancel" style="display: none" class="btn sbold red" onclick="cancel_ward()"> <i class="fa fa-close"></i>
                                            انصراف
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green-meadow">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings"></i>
                                <span class="caption-subject uppercase">تنظیمات بخش ها</span>
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" width="100%" id="finance">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام بخش</th>
                                    <th>زیرمجموعه ها</th>
                                    <th> حذف/ویرایش</th>
                                </tr>
                                </thead>
                                <tbody id="all_wards">
                                {% for ward in wards %}
                                    <tr id="{{ ward|mongo_id }}">
                                        <td class="count_number">{{ forloop.counter }}</td>
                                        <td>{{ ward.name }}</td>
                                        <td>
                                            <a onclick='set_data_sub_ward_to_modal("{{ ward|mongo_id }}")'
                                               class="btn btn-circle btn-icon-only btn-default btn purple-plum"
                                               data-toggle="modal" href="#add_sub_ward_modal">
                                                <i class="icon-vector"></i>
                                            </a>
                                        </td>
                                        <td class="center">
                                            <a onclick="delete_ward('{{ ward|mongo_id }}')"
                                               class="btn btn-circle btn-icon-only btn-default btn red">
                                                <i class="icon-trash"></i>
                                            </a>
                                            <a onclick='set_data_ward_to_edit("{{ ward|mongo_id }}","{{ ward.name }}")'
                                               class="btn btn-circle btn-icon-only btn-default btn yellow">
                                                <i class="icon-wrench"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="add_sub_ward_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <input type="hidden" name="id_ward" id="id_ward">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="col-md-11">
                            <h4 class="modal-title">تعریف خدمات</h4>
                        </div>
                        <div class="col-md-1">
                            <a class="pull-right" data-dismiss="modal" aria-hidden="true">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height: 400px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <input type="hidden" id="id_sub_ward">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="form_control_1">نام:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="" name="sub_name"
                                               id="sub_name">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="form_control_1">قیمت(ریال):</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" placeholder="" name="sub_price"
                                               id="sub_price">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input class="float-right" type="checkbox" placeholder="" name="vat_status" id="vat_status">
                                    <label class=" control-label" for="form_control_1">مالیات بر ارزش افزوده
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group">
                                    <a id="button_sub_ward_submit" class="btn sbold green" onclick="append_sub_ward()"><i class="fa fa-plus"></i>
                                        افزودن
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a id="button_sub_ward_cancel" style="display: none" class="btn sbold red" onclick="cancel_sub_ward()"><i class="fa fa-close"></i>
                                        انصراف

                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered" style="border: none !important">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover" width="100%"
                                               id="finance">
                                            <thead>
                                            <tr>
                                                <th>ردیف</th>
                                                <th>نام</th>
                                                <th>قیمت(ریال)</th>
                                                <th>ویرایش/حذف</th>
                                            </tr>
                                            </thead>
                                            <tbody id="all_sub_wards">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block some_js %}
    <script src="{% static 'js/wards.js' %}" type="text/javascript"></script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        $('.persianumber').persiaNumber();

    </script>
{% endblock %}
