{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'global/plugins/amcharts/amcharts/plugins/export/export.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>گزارش ها</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>نمودارها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            {% if final_report %}

                <div class="row" style="direction: ltr">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> نمودار کلیه بخش ها</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="all_ward" class="chart" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" style="direction: ltr">
                    {% for key, finance in final_report.items %}
                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-haze"></i>
                                        <span class="caption-helper">بخش</span>
                                        <span class="caption-subject bold uppercase font-green-haze"> {{ finance.ward_name }}</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="{{ key }}" class="chart" style="height: 400px;"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% else %}
                <div class="col-md-12 text-center" style="padding: inherit">
                    <h1>هیچ نتیجه ای یافت نشد</h1>
                    <a href="{% url "date_reporting" %}" class="col-md-2 btn green margin-top-20">بازگشت</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block chart_js %}
    <script src="{% static 'global/plugins/amcharts/amcharts/amcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/amcharts/amcharts/pie.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/amcharts/amcharts/themes/light.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/amcharts/amcharts/plugins/export/export.min.js' %}" type="text/javascript"></script>
    <script src=""></script>

    <script>
        var wards = [];
        {% for key, ward in ward_reports.items %}
            wards.push({
                "ward": "{{ ward.ward_name }}",
                "total_amount": {{ ward.total_amount }}
            });
        {% endfor %}
        var chart = AmCharts.makeChart("all_ward", {
            "type": "pie",
            "theme": "light",
            "dataProvider": wards,
            "valueField": "total_amount",
            "titleField": "ward",
            "outlineAlpha": 0.4,
            "depth3D": 40,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "angle": 30,
            "export": {
                "enabled": true
            }
        });

        {% for key, finance in final_report.items %}
            var data = [];
            {% for key ,sub in finance.items %}
                {% if  sub.total_amount %}
                    data.push({
                        "sub_ward": "{{ sub.sub_ward_name }}",
                        "price": {{ sub.total_amount }}
                    });
                {% endif %}
            {% endfor %}
            var chart = AmCharts.makeChart("{{ key }}", {
                "type": "pie",
                "theme": "light",
                "dataProvider": data,
                "valueField": "price",
                "titleField": "sub_ward",
                "outlineAlpha": 0.4,
                "depth3D": 40,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "angle": 30,
                "export": {
                    "enabled": true
                }
            });


        {% endfor %}
    </script>
{% endblock %}
