{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'global/plugins/amcharts/amcharts/plugins/export/export.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/jalalidate.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>گزارش ها</span>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                        <span>انتخاب بازه زمانی</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="portlet box green-meadow">
                        <div class="portlet-title">
                            <div class="caption">
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 margin-top-20">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">تاریخ شروع:</label>
                                        <div class="col-md-7">
                                            <input id="start_date" type="text" class="form-control" placeholder="" name="start_date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-20">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">تاریخ پایان:</label>
                                        <div class="col-md-7">
                                            <input id="end_date" type="text" class="form-control" placeholder="" name="end_date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-20">
                                    <div class="form-group">
                                        <label for="ward_report" class="col-md-5 control-label">بخش:</label>
                                        <div class="col-md-7">
                                            <select onchange="toggleChartButton()" id="ward_report" class="form-control">
                                                <option value="visit">خدمات</option>
                                                <option value="medicine">داروها</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-20">
                                    <button id="chart_button" onclick="goToReporting('chart')" class="btn green pull-left">
                                        <i class="fa fa-bar-chart"></i>

                                        نمودار ها
                                    </button>
                                    <button onclick="goToReporting('excel')" class="btn yellow pull-right">
                                        <i class="fa fa-file-excel-o"></i>

                                        خروجی اکسل
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block chart_js %}
    <script src="{% static 'js/jalalidate/jalali.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar-setup.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar-fa.js' %}" type="text/javascript"></script>
    <script>
        Calendar.setup({
            inputField: "start_date",
            ifFormat: '%Y-%m-%d',
            dateType: 'jalali',
            showsTime: false,
            weekNumbers: false
        });
        Calendar.setup({
            inputField: "end_date",
            ifFormat: '%Y-%m-%d',
            dateType: 'jalali',
            showsTime: false,
            weekNumbers: false
        });
        function goToReporting(export_type) {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var ward_report = $("#ward_report").val();
            var url = "";
            if (ward_report == "visit") {
                url = "{% url 'reporting_visit' %}"
            } else {
                url = "{% url 'reporting_medicine' %}"
            }
            if (start_date != "" && end_date != "") {
                var url_mask = url + "?start_date=" + start_date + "&end_date=" + end_date + "&export_type=" + export_type;
                window.location.href = url_mask
            } else {
                uikitNotify('تاریخ ها را وارد کنید', '', 'danger');
            }
        }

        function toggleChartButton() {
            var chart_button = "#chart_button";
            if ($(chart_button).prop('disabled')) {
                $(chart_button).prop('disabled', false)
            } else {
                $(chart_button).prop('disabled', true)
            }
        }

    </script>
{% endblock %}
