{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link href="{% static 'my-css/jalalidate.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت سایت</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>مدیریت بهیار ها و راننده ها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row persianumber">
                <div class="col-md-3"></div>
                <div class="col-md-6" id="calendar_id">
                    <input type="hidden" id="calendar_input">
                </div>
                <div class="col-md-3"></div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-calendar-plus-o"></i>
                                شیفت ها
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th> ردیف</th>
                                        <th>نام و نام خانوادگی</th>
                                        <th>مسئولیت</th>
                                        <th>شماره تلفن</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div id="nurse_driver_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="title_modal" class="modal-title"><i class="fa fa-calendar-check-o"></i>
                        بهیار و راننده را مشخص کنید
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-6 beh-vertical-divider">
                                <label>{{ form.driver.label }}</label>
                                <div class="form-group form-md-radios">
                                    {{ form.driver }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>{{ form.nurse.label }}</label>
                                <div class="form-group form-md-radios">
                                    {{ form.nurse }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="enterDriverAndNurse()" class="btn green">ثبت</button>
                    <button type="reset" class="btn btn-danger close_modal_footer" data-dismiss="modal" aria-hidden="true">انصراف</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block some_js %}
    <script src="{% static 'js/jalalidate/jalali.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar-setup.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jalalidate/calendar-fa.js' %}" type="text/javascript"></script>
    <script>
        active_menu_item("#management_site_item");
        display_block_sub_menu("#nurse_item");

        Calendar.setup({
            flat: "calendar_id",
            inputField: "calendar_input",
            ifFormat: '%Y-%m-%d',
            dateType: 'jalali',
            showsTime: false,
            weekNumbers: false
        });

        $('.persianumber').persiaNumber();

        $("#calendar_id").click(function () {
            $('.persianumber').persiaNumber();
        });

        function getAjaxDriverAndNurse(date) {
            $("#users").html('');
            $.ajax({
                dataType: 'json',
                type: 'POST',
                async: false,
                url: '{% url "find_nurse_and_driver_calendar" %}',
                data: {
                    "date": date,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (resp) {
                    var dict_static = {
                        "driver": "راننده",
                        "nurse": "بهیار"
                    };
                    if (resp['message'] != 'error') {
                        for(var i in resp["users"]){
                            var user =  resp["users"][i];
                            $("#users").append(
                                    '<tr>'+
                                    '<td>'+i+'</td>' +
                                    '<td>'+user["f_name"]+" "+user["l_name"]+'</td>' +
                                    '<td>'+dict_static[user["type"]]+'</td>' +
                                    '<td>'+user["phone"]+'</td>'+
                                    '</tr>'
                            )
                        }
                    } else {
                        uikitNotify('برای این روز هیچ فردی انتخاب نشده است.', '', 'warning');
                    }
                },
                error: function (e) {
                    notify_error(e)
                }
            });
        }

        function enterDriverAndNurse() {
            var driver = $("input[name='driver']:checked").val();
            var nurse = $("input[name='nurse']:checked").val();
            var date = $("#calendar_input").val();
            if (driver != undefined && nurse != undefined) {
                enterAjaxDriverAndNurse(driver, nurse, date)
            } else {
                uikitNotify('بهیار و راننده را وارد کنید', '', 'danger');
            }
        }

        function enterAjaxDriverAndNurse(driver, nurse, date) {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                async: false,
                url: '{% url "add_nurse_and_driver_calendar" %}',
                data: {
                    "driver": driver,
                    "nurse": nurse,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    "date": date
                },
                success: function (resp) {
                    if (resp['message'] != 'error') {
                        $('.close_modal_footer').click();
                        if (resp['message'] == "insert") {
                            uikitNotify('با موفقیت اضافه شد.', '', 'success');
                        } else {
                            uikitNotify('با موفقیت به روزرسانی شد.', '', 'success');
                        }
                        getAjaxDriverAndNurse(date)
                    } else {
                        uikitNotify('سیستم با مشکل روبه رو شده است.', '', 'danger');
                    }
                },
                error: function (e) {
                    notify_error(e)
                }
            });
        }

        jQuery.fn.single_double_click = function (single_click_callback, double_click_callback, timeout) {
            return this.each(function () {
                var clicks = 0, self = this;
                jQuery(this).click(function (event) {
                    clicks++;
                    if (clicks == 1) {
                        setTimeout(function () {
                            if (clicks == 1) {
                                single_click_callback.call(self, event);
                            } else {
                                double_click_callback.call(self, event);
                            }
                            clicks = 0;
                        }, timeout || 300);
                    }
                });
            });
        };
        $(".day").single_double_click(function () {
            getAjaxDriverAndNurse($("#calendar_input").val())
        }, function () {
            $("#nurse_driver_modal").modal();
        });
    </script>

{% endblock %}
