{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت سایت</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>مدیریت بهیار ها و راننده ها</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
                        <span id="tm-date-and-time"></span>
                    </div>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                {{ form.f_name }}
                                <div class="form-control-focus"></div>
                                <span class="help-block">{{ form.f_name.label }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                {{ form.l_name }}
                                <div class="form-control-focus"></div>
                                <span class="help-block">{{ form.l_name.label }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                {{ form.phone }}
                                <div class="form-control-focus"></div>
                                <span class="help-block">{{ form.phone.label }}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input">
                                {{ form.type }}
                            </div>
                        </div>
                        <div class="col-md-1 margin-top-20">
                            <button type="submit" class="btn green"><i class="fa fa-plus"></i>افزودن</button>
                        </div>
                    </form>
                </div>
            </div>
            <h1 class="page-title"></h1>
            <div class="row">
                <div class="col-md-6">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>بهیاران
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>شماره همراه</th>
                                        <th>پاک کردن</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for nurse in nurses %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td> {{ nurse.f_name }}</td>
                                            <td> {{ nurse.l_name }}</td>
                                            <td> {{ nurse.phone }}</td>
                                            <td>
                                                <a onclick="delete_nurse_or_driver('{{ nurse|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
                <div class="col-md-6">
                    <!-- BEGIN CONDENSED TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-car"></i>راننده گان
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>شماره همراه</th>
                                        <th>پاک کردن</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for driver in drivers %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td> {{ driver.f_name }}</td>
                                            <td> {{ driver.l_name }}</td>
                                            <td> {{ driver.phone }}</td>
                                            <td>
                                                <a onclick="delete_nurse_or_driver('{{ driver|mongo_id }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END CONDENSED TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
    <script>
        {% if errors %}
            {% for field, error in errors.items %}
                uikitNotify('{{ error.0 }}', '', 'danger');
            {% endfor %}
        {% endif %}
    </script>
    <script>
        csrf_token = '{{ csrf_token }}';
        active_menu_item("#management_site_item");
        display_block_sub_menu("#nurse_item");
        function delete_nurse_or_driver(_id) {
            UIkit.modal.confirm("آیا می خواهید پاک کنید؟", function () {
                var url_mask = "{% url 'delete_nurse_or_driver' 12345 %}".replace(/12345/, _id.toString());
                window.location.href = url_mask
            });
        }
    </script>
{% endblock %}
